* {
  font-family: "Commissioner", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background: rgb(250, 250, 250);
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}
input:active, input:focus {
  outline: none;
  border: none;
}
input::placeholder {
  opacity: 0.5;
}

.header {
  color: rgb(47, 47, 47);
  font-size: 24px;
  font-weight: 700;
}

.content {
  color: rgb(47, 47, 47);
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  line-height: 2rem;
}

.nav {
  background-image: url("images/image-hero-desktop.jpg");
  width: 100%;
  height: auto;
  padding: 20px 0 250px 0;
}
.nav .nav--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.nav .nav--content .nav--links .nav--link {
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 12px;
}
.nav .nav--content .nav--links__mobile {
  display: none;
}
.nav .nav--content .nav--links__mobile .nav--link__mobile {
  text-decoration: none;
}
.nav .nav--content .svg {
  position: relative;
  display: none;
}
.nav .nav--content .svg .hidden {
  display: none;
}

.section {
  position: absolute;
  margin: 0 25%;
  left: 0;
  right: 0;
  top: 30%;
  width: 40%;
}
.section .main--app {
  width: 100%;
  position: relative;
  z-index: 100;
  scroll-margin: 72px;
}
.section .main--app .hero {
  width: 100%;
  background: rgb(255, 255, 255);
  margin-bottom: 50px;
  padding: 48px 72px;
  border-radius: 8px;
}
.section .main--app .hero .hero--one--content {
  margin: 16px 0 24px 0;
  font-size: 14px;
}
.section .main--app .hero:nth-child(n+1) {
  width: 100%;
}
.section .main--app .hero:nth-child(1) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .main--app .hero:nth-child(1) .mastercraft--logo {
  position: absolute;
  top: -12%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section .main--app .hero:nth-child(1) .btns--div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .main--app .hero:nth-child(1) .btns--div button {
  width: 28%;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .main--app .hero:nth-child(1) .btns--div button:first-child {
  color: rgb(255, 255, 255);
  background: rgb(60, 180, 171);
  padding: 16px 24px;
  justify-content: center;
}
.section .main--app .hero:nth-child(1) .btns--div button:first-child:hover {
  background: rgb(33, 105, 100);
}
.section .main--app .hero:nth-child(1) .svg--bookmark {
  display: none;
}
.section .main--app .hero:nth-child(1) .bookmark {
  color: rgb(47, 47, 47);
  background-color: rgb(250, 250, 250);
}
.section .main--app .hero:nth-child(1) .bookmark svg {
  margin-right: 12px;
}
.section .main--app .hero:nth-child(1) .bookmark .bookmark--text {
  margin-right: 18px;
}
.section .main--app .hero:nth-child(1) .bookmarked {
  color: rgb(60, 180, 171);
}
.section .main--app .hero:nth-child(1) .bookmarked svg circle {
  fill: rgb(60, 180, 171);
}
.section .main--app .hero:nth-child(1) .bookmarked svg path {
  fill: rgb(255, 255, 255);
}
.section .main--app .hero:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section .main--app .hero:nth-child(2) .hero--two--top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.section .main--app .hero:nth-child(2) .hero--two--top div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section .main--app .hero:nth-child(2) .hero--two--top div p {
  margin: 4px 0;
}
.section .main--app .hero:nth-child(2) .hero--two--top div:nth-child(even) {
  border-left: 4px solid rgb(250, 250, 250);
  border-right: 4px solid rgb(250, 250, 250);
}
.section .main--app .hero:nth-child(2) .hero--two--top div:nth-child(n+2) {
  padding-left: 36px;
}
.section .main--app .hero:nth-child(2) .hero--two--bottom {
  width: 100%;
  background: rgb(250, 250, 250);
  margin-top: 16px;
  border-radius: 12px;
}
.section .main--app .hero:nth-child(2) .hero--two--bottom div {
  background: rgb(60, 180, 171);
  width: 80%;
  height: 11px;
  border-radius: 12px;
}
.section .main--app .hero:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .main--app .hero:nth-child(3) .about--project {
  margin-bottom: 24px;
}
.section .main--app .hero:nth-child(3) .about--project p:nth-child(1) {
  font-size: 16px;
  margin-top: 24px;
}
.section .main--app .hero:nth-child(3) .about--project p:nth-child(n+2) {
  margin: 24px 0;
}
.section .main--app .hero:nth-child(3) .cards .card {
  border: 2px solid rgb(250, 250, 250);
  border-radius: 8px;
  margin: 24px 0;
  padding: 24px;
}
.section .main--app .hero:nth-child(3) .cards .card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .main--app .hero:nth-child(3) .cards .card div div:nth-child(odd) {
  font-size: 16px;
  font-weight: 700;
}
.section .main--app .hero:nth-child(3) .cards .card div div:nth-child(even) {
  color: rgb(60, 180, 171);
  font-size: 14px;
  font-weight: 700;
}
.section .main--app .hero:nth-child(3) .cards .card div div.pledges--left:nth-child(1) {
  font-size: 24px;
  margin-right: 8px;
}
.section .main--app .hero:nth-child(3) .cards .card div div.pledges--left:nth-child(2) {
  color: rgb(47, 47, 47);
  font-size: 12px;
  margin-right: 8px;
  opacity: 0.5;
}
.section .main--app .hero:nth-child(3) .cards .card div button {
  color: rgb(255, 255, 255);
  background: rgb(60, 180, 171);
  padding: 12px 24px;
  width: 25%;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 24px;
}
.section .main--app .hero:nth-child(3) .cards .card div button:hover, .section .main--app .hero:nth-child(3) .cards .card div button:focus {
  background: rgb(33, 105, 100);
}
.section .main--app .hero:nth-child(3) .cards .card .card--content {
  margin: 24px 0;
}
.section .main--app .hero:nth-child(3) .cards .card--disabled {
  opacity: 0.2;
}
.section .main--app .hero:nth-child(3) .cards .card--disabled:hover {
  cursor: not-allowed;
}
.section .main--app .hero:nth-child(3) .cards .card--disabled div button {
  background: rgb(47, 47, 47);
  cursor: not-allowed;
}
.section .main--app .hero:nth-child(3) .cards .card--disabled div button:hover, .section .main--app .hero:nth-child(3) .cards .card--disabled div button:focus {
  background: rgb(47, 47, 47);
}
.section .main--app .thank--you {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  width: 70%;
  margin: 0 15%;
  padding: 48px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 24px 2px rgb(47, 47, 47);
  scroll-margin: 72px;
  z-index: 200;
}
.section .main--app .thank--you button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(60, 180, 171);
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 24px;
  transition: all 100ms ease-in-out;
}
.section .main--app .thank--you .content {
  margin: 24px 0;
}
.section .main--app .pledge--active {
  position: absolute;
  top: -5%;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  width: 100%;
  padding: 48px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 24px 2px rgb(47, 47, 47);
  scroll-margin: 20px;
  z-index: 200;
}
.section .main--app .pledge--active .close--btn {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
.section .main--app .pledge--active .pledge--active__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.section .main--app .pledge--active .pledge--active__header h1 {
  margin-bottom: 24px;
}
.section .main--app .pledge--active .pledge--active__cards {
  margin: 0;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 8px;
  margin: 24px 0;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .radio--btn {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .radio--btn .radio--btn__active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(60, 180, 171);
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .radio--btn__hover {
  border: 1px solid rgb(60, 180, 171);
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 24px);
  font-weight: 700;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div:nth-child(2) {
  display: inline-block;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div p:nth-child(2) {
  color: rgb(60, 180, 171);
  margin-left: 16px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div .card--header {
  font-size: 16px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div .card--header__selected {
  color: rgb(60, 180, 171);
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header .pledges--left {
  font-size: 16px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header .pledges--left .pledges--left__small {
  font-weight: 400;
  opacity: 0.5;
  margin-left: 4px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(250, 250, 250);
  margin: 24px 0;
  padding: 24px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges button:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(47, 47, 47);
  background: rgb(255, 255, 255);
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 24px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges button:nth-child(1) b {
  margin-right: 12px;
  opacity: 0.5;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges button:nth-child(2) {
  color: rgb(255, 255, 255);
  background: rgb(60, 180, 171);
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 24px;
  margin-left: 24px;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges button:nth-child(2):hover, .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges button:nth-child(2):focus {
  background: rgb(33, 105, 100);
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges .submit--pledges .hidden {
  opacity: 0;
}
.section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .hidden {
  display: none;
}
.section .main--app .pledge--active .pledge--active__cards .card--selected {
  border: 2px solid rgb(60, 180, 171);
}
.section .main--app .pledge--active .pledge--active__cards .card--disabled {
  opacity: 0.5;
}
.section .main--app .pledge--active .pledge--active__cards .card--disabled div,
.section .main--app .pledge--active .pledge--active__cards .card--disabled p {
  cursor: not-allowed;
}
.section .main--app .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(47, 47, 47);
  opacity: 0.5;
  z-index: 100;
}
.section .main--app .hidden {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .section {
    width: 45%;
    margin: 0 22.5%;
  }
}
@media only screen and (max-width: 1280px) {
  .section {
    width: 60%;
    margin: 0 15%;
  }
}
@media only screen and (max-width: 1000px) {
  .section {
    width: 70%;
    margin: 0 8%;
  }
}
@media only screen and (max-width: 800px) {
  .section {
    width: 80%;
    margin: 0;
  }
}
@media only screen and (max-width: 700px) {
  .section {
    width: 90%;
    margin: 1.5%;
  }
  .section .main--app .hero {
    padding: 24px;
  }
  .section .main--app .hero:nth-child(1) {
    text-align: center;
  }
  .section .main--app .hero:nth-child(1) .btns--div .back-this-project {
    width: 85%;
    padding: 24px 8px;
  }
  .section .main--app .hero:nth-child(1) .btns--div .svg--bookmark {
    display: block;
  }
  .section .main--app .hero:nth-child(1) .btns--div .bookmark {
    display: none;
  }
  .section .main--app .hero:nth-child(1) svg {
    margin-left: 8px;
  }
  .section .main--app .hero:nth-child(1) .bookmarked circle {
    fill: rgb(60, 180, 171);
  }
  .section .main--app .hero:nth-child(1) .bookmarked path {
    fill: rgb(255, 255, 255);
  }
  .section .main--app .hero:nth-child(3) .cards .card div:nth-child(3) button {
    width: 40%;
  }
  .section .main--app .pledge--active {
    padding: 24px 12px;
    margin: auto 2.5%;
  }
  .section .main--app .thank--you {
    width: 50%;
    margin: 0 15%;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    background-image: url("images/image-hero-mobile.jpg");
  }
  .nav .nav--content .svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav .nav--content .svg .hamburger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .nav .nav--content .svg .hamburger__close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .nav .nav--content .svg .hamburger__close path {
    fill: rgb(255, 255, 255);
  }
  .nav .nav--content .nav--links {
    display: none;
  }
  .nav .nav--content .nav--links__mobile {
    position: absolute;
    top: 6%;
    right: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 12px;
    background: rgb(255, 255, 255);
    width: 70%;
    border-radius: 8px;
  }
  .nav .nav--content .nav--links__mobile .nav--link__mobile {
    color: rgb(47, 47, 47);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 16px 0;
  }
  .nav .nav--content .nav--links__mobile .nav--link__mobile:nth-child(n+1) {
    padding-left: 24px;
  }
  .nav .nav--content .nav--links__mobile .nav--link__mobile:nth-child(2) {
    border-top: 2px solid rgb(250, 250, 250);
    border-bottom: 2px solid rgb(250, 250, 250);
  }
  .nav .nav--content .hidden {
    display: none;
  }
  .section {
    margin: 2%;
    top: 40%;
  }
  .section .main--app .hero {
    padding: 24px 12px;
  }
  .section .main--app .hero:nth-child(2) .hero--two--top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section .main--app .hero:nth-child(2) .hero--two--top div {
    align-items: center;
  }
  .section .main--app .hero:nth-child(2) .hero--two--top div:nth-child(even) {
    border-left: none;
    border-right: none;
    border-top: 4px solid rgb(250, 250, 250);
    border-bottom: 4px solid rgb(250, 250, 250);
  }
  .section .main--app .hero:nth-child(2) .hero--two--top div:nth-child(n+2) {
    padding-left: 0;
  }
  .section .main--app .hero:nth-child(3) .cards .card {
    padding: 24px 6px;
  }
  .section .main--app .hero:nth-child(3) .cards .card div:nth-child(3) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .section .main--app .hero:nth-child(3) .cards .card div:nth-child(3) button {
    padding: 12px 8px;
    width: 50%;
    margin-top: 12px;
  }
  .section .main--app .pledge--active {
    margin: 0 0.3%;
  }
  .section .main--app .pledge--active .close--btn {
    top: 0.5%;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card {
    padding: 16px;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div:nth-child(1) {
    flex-direction: column;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header div:nth-child(1) p:nth-child(2) {
    margin-left: 0px;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges {
    flex-direction: column;
  }
  .section .main--app .pledge--active .pledge--active__cards .card--selected {
    border: 2px solid rgb(60, 180, 171);
  }
  .section .main--app .pledge--active .pledge--active__cards .card--disabled {
    opacity: 0.5;
  }
  .section .main--app .pledge--active .pledge--active__cards .card--disabled div,
.section .main--app .pledge--active .pledge--active__cards .card--disabled p {
    cursor: not-allowed;
  }
  .section .main--app .thank--you {
    margin: 0 auto;
    padding: 24px;
  }
  .section .main--app .thank--you .header {
    font-size: 18px;
  }
  .section .main--app .thank--you .content {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) and (max-height: 533px) {
  .nav .nav--content .nav--links__mobile {
    top: 10%;
    z-index: 1000;
    box-shadow: 0px 0px 24px 2px rgb(47, 47, 47);
  }
  .section {
    margin: 0;
    top: 50%;
  }
}
@media only screen and (max-width: 300px) {
  .section {
    margin: 0;
    top: 40%;
  }
  .section .main--app .hero {
    padding: 24px 12px;
  }
  .section .main--app .hero:nth-child(1) .btns--div .back-this-project {
    width: 70%;
  }
  .section .main--app .hero:nth-child(2) .hero--two--top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section .main--app .hero:nth-child(2) .hero--two--top div {
    align-items: center;
  }
  .section .main--app .hero:nth-child(2) .hero--two--top div:nth-child(even) {
    border-left: none;
    border-right: none;
    border-top: 4px solid rgb(250, 250, 250);
    border-bottom: 4px solid rgb(250, 250, 250);
  }
  .section .main--app .hero:nth-child(2) .hero--two--top div:nth-child(n+2) {
    padding-left: 0;
  }
  .section .main--app .hero:nth-child(3) .cards .card {
    padding: 24px 6px;
  }
  .section .main--app .hero:nth-child(3) .cards .card div:nth-child(3) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .section .main--app .hero:nth-child(3) .cards .card div:nth-child(3) button {
    padding: 12px 8px;
    width: 50%;
    margin-top: 12px;
  }
  .section .main--app .pledge--active {
    padding: 6px;
    margin: 0 2%;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select {
    padding: 4px 0;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card {
    padding: 8px;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .pledge--active__card .label .label--header .pledges--left .pledges--left__small {
    margin-left: 0;
  }
  .section .main--app .pledge--active .pledge--active__cards .pledge--active__card--select .number-of-pledges {
    padding: 12px;
  }
  .section .main--app .thank--you {
    width: 60%;
    margin: 0 15%;
    padding: 24px;
  }
  .section .main--app .thank--you .header {
    font-size: 16px;
  }
  .section .main--app .thank--you .content {
    font-size: 12px;
  }
}
@media only screen and (max-width: 300px) and (max-height: 400px) {
  .nav .nav--content .nav--links__mobile {
    top: 15%;
    z-index: 1000;
    box-shadow: 0px 0px 24px 2px rgb(47, 47, 47);
  }
  .section {
    margin: 0;
    top: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
